@import "../../../../../styles/mixins";

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.login-page {
  @include flex-center(both);
  width: 100%;
  height: 100%;
  background-color: var(--color-main-bg);

  &__header {
    @include flex-center(vertical);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 76px;
    padding-left: 82px;
    background-color: #fff;
  }

  &__logo {
    @include square(52px);
  }

  &__form {
    display: block;
    padding: 44px 34px;
    width: fit-content;
    background-color: #fff;
    border-radius: var(--border-radius-smooth);
    overflow: hidden;
  }
}

.form {
  @include flex-center(horizontal, true);
  gap: 60px;
  width: fit-content;

  &__header {
    @include flex-center(horizontal, true);
    gap: 28px;
  }

  &__logo {
    @include square(60px);
  }

  &__text {
    @include flex-center(horizontal, true);
    gap: 8px;

    &--title {
      font-weight: var(--font-weight-medium);
      color: var(--color-black-100);
    }

    &--sub-title {
      color: var(--color-black-30);
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 375px;
  }

  &__submit-btn {
    width: 180px;
  }
}
