@import "../../../../../styles/mixins";

:host {
  display: block;
}

.items-total {
  @include flex-center(vertical);
  justify-content: space-between;

  &__title {
    font-weight: var(--font-weight-medium);
    color: var(--color-black-30);
  }

  &__value {
    font-weight: var(--font-weight-medium);
    color: var(--color-black-80);
  }
}
