.requirements {
  font-size: 12px;
  color: var(--color-black-40);
  z-index: 5;

  span {
    color: var(--color-black-100);
    transition: var(--transition-all);

    &.fulfilled {
      color: var(--color-action-success);
    }

    &.unfulfilled {
      color: var(--color-action-fail);
    }
  }
}
