<p class="requirements paragraph">
  Password must be at least
  <span
    [ngClass]="{
      fulfilled:
        control.valid ||
        control.getError('passwordStrength')?.hasRequiredLength,
      unfulfilled:
        control.getError('passwordStrength')?.hasRequiredLength === false
    }"
    >8 Characters</span
  >
  and must contain at least a
  <span
    [ngClass]="{
      fulfilled:
        control.valid || control.getError('passwordStrength')?.hasUpperCase,
      unfulfilled: control.getError('passwordStrength')?.hasUpperCase === false
    }"
    >Capital Letter</span
  >, a
  <span
    [ngClass]="{
      fulfilled:
        control.valid || control.getError('passwordStrength')?.hasNumeric,
      unfulfilled: control.getError('passwordStrength')?.hasNumeric === false
    }"
    >Number</span
  >
  and a
  <span
    [ngClass]="{
      fulfilled:
        control.valid || control.getError('passwordStrength')?.hasSpecialChar,
      unfulfilled:
        control.getError('passwordStrength')?.hasSpecialChar === false
    }"
    >Special Character</span
  >.
</p>
