$color-primary: #5570f1;
$color-secondary: #ffcc91;
$color-black: #1c1d22;

:root {
  @for $i from 10 to 0 {
    --color-primary-#{$i * 10}: #{rgba($color-primary, calc($i / 10))};
  }

  @for $i from 10 to 0 {
    --color-secondary-#{$i * 10}: #{rgba($color-secondary, calc($i / 10))};
  }

  @for $i from 10 to 0 {
    --color-black-#{$i * 10}: #{rgba($color-black, calc($i / 10))};
  }

  --color-action-success: #519c66;
  --color-action-fail: #cc5f5f;

  --border-radius-default: 8px;
  --border-radius-smooth: 12px;

  --border-input: 1px solid #cfd3d4;
  --border-button: 2px solid var(--color-primary);

  --height-input: 52px;
  --height-input-labeled: 58px;
  --height-search: 45px;

  --padding-input: 8px 16px;
  --padding-input-labeled: 31px 16px 8px;
  --padding-button: 17px 16px;
  --padding-dropdown: 20px 16px;

  --font-size-input: 16px;
  --font-size-button: 20px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --transition-duration: 0.3s;
  --transition-all: all 0.3s ease;
}
