@import "../../../../styles/mixins";

:host {
  display: block;
  width: 375px;
  height: auto;
}

.custom-control {
  $root: &;

  input[type="password"]:not(:placeholder-shown) {
    font-family: Verdana;
    font-size: 19px;
    color: var(--color-black-90);
  }

  &__show-hide {
    @include flex-center(both);
    @include absolute-center(vertical);
    @include square(16px);
    right: 16px;
    padding: 0;
    background-color: transparent;
    color: var(--color-black-80);
    border: none;
    outline: none;
    z-index: 10;
    transition: var(--transition-all);
    cursor: pointer;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  &.inner-label:has(input[type="password"]:not(:placeholder-shown)) {
    label {
      top: 12px;
    }
  }

  &:has(&__show-hide) {
    #{$root}__check {
      right: 48px;
    }
  }
}
