<div
  class="custom-control"
  [ngClass]="{
    disabled: disabled,
    filled: !control?.validator && !control?.asyncValidator && control?.touched,
    validated:
      (control?.validator || control?.asyncValidator) &&
      control?.valid &&
      control?.touched,
    failed: control?.invalid && control?.touched,
    'inner-label': innerLabel,
    'filled-style': filledStyle,
    'hide-check': hideCheck
  }"
>
  <label
    *ngIf="label"
    class="custom-control__label size-l"
    for="{{ id ? id : '' }}"
    >{{ label }}</label
  >

  <div class="custom-control__container">
    <app-svg-icon
      class="custom-control__icon left"
      iconName="lock"
      iconStyle="light"
    ></app-svg-icon>

    <input
      class="custom-control__control"
      [type]="type"
      [attr.id]="id"
      [value]="value"
      [attr.placeholder]="disabled ? 'Disabled' : placeholder"
      [disabled]="disabled ? true : null"
      (input)="onChange($event)"
      (blur)="touched()"
    />

    <span
      *ngIf="control?.valid && control?.touched"
      class="custom-control__check"
      ><app-svg-icon
        iconName="vector"
        iconStyle="light"
        class="icon"
      ></app-svg-icon
    ></span>

    <button
      *ngIf="control?.value"
      class="custom-control__show-hide"
      type="button"
      (click)="togglePasswordVisible()"
    >
      <app-svg-icon
        *ngIf="iconName"
        [iconName]="iconName"
        iconStyle="feather"
        class="icon"
      ></app-svg-icon>
    </button>
  </div>

  <app-password-input-errors
    *ngIf="control && validateStrength"
    [control]="control"
  ></app-password-input-errors>

  <app-control-errors
    *ngIf="control && !validateStrength"
    [control]="control"
  ></app-control-errors>
</div>
