<ng-container *ngIf="this.data$ | async as data">
  <ng-container *ngIf="!data.loading; else loadingTmpl">
    <ng-container *ngIf="data.currentUser; else unauthUserTmpl">
      <app-top-navigation class="top-nav"></app-top-navigation>
      <app-sidebar class="sidebar"></app-sidebar>
      <div class="content-area"><router-outlet /></div>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #unauthUserTmpl>
  <router-outlet />
</ng-template>

<ng-template #loadingTmpl>
  <app-loading-spinner class="loading-spinner"></app-loading-spinner>
</ng-template>
