@import "../../../styles/mixins";

.custom-control {
  $root: &;

  position: relative;
  @include flex-center(vertical, true);
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  height: 100%;

  &__container {
    position: relative;
    width: 100%;
    height: var(--height-input);
  }

  &__label {
    position: block;
    height: 15px;
    margin-bottom: 4px;
    z-index: 10;
    color: var(--color-black-70);
    transition: var(--transition-all);
  }

  &__control {
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--padding-input);
    border: var(--border-input);
    border-radius: var(--border-radius-default);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    line-height: 19px;
    color: #5e6366;
    background-color: transparent;
    z-index: 5;
    outline: none;
    transition: var(--transition-all);

    &::placeholder {
      color: #abafb1;
    }

    &:disabled {
      background-color: #f2f4f5 !important;

      &::placeholder {
        color: var(--color-black-60);
      }
    }

    &:-webkit-autofill {
      background-color: rgba($color: #e9ecf8, $alpha: 90%);
      background-clip: border-box;
      -webkit-background-clip: border-box;
    }
  }

  &__icon {
    @include absolute-center(vertical);
    @include square(24px);
    color: var(--color-black-70);
    z-index: 10;

    &.left {
      left: 16px;
    }

    &.right {
      right: 16px;
    }
  }

  &__message {
    color: var(--color-black-40);
    transition: var(--transition-all);
    z-index: 5;
  }

  &__check {
    @include flex-center(both);
    @include absolute-center(vertical);
    @include circle(20px);
    right: 16px;
    color: var(--color-action-success);
    background-color: rgba($color: #32936f, $alpha: 24%);
    z-index: 10;
    transition: var(--transition-all);

    .icon {
      width: 10px;
      height: 10px;
    }
  }

  &.hide-check &__check {
    display: none;
  }

  &.inner-label {
    #{$root}__container {
      height: var(--height-input-labeled);
    }

    #{$root}__label {
      position: absolute;
      top: 8px;
      left: 16px;
      margin: 0;
    }

    #{$root}__control {
      padding: var(--padding-input-labeled);
    }
  }

  &.filled-style {
    #{$root}__control {
      border: none !important;
      background-color: rgba($color: #eff1f9, $alpha: 60%);

      &:disabled {
        border: var(--border-input) !important;
      }
    }

    &:focus-within {
      #{$root}__control {
        background-color: rgba($color: #e9ecf8, $alpha: 90%);
      }
    }

    &.failed {
      #{$root}__control {
        background-color: rgba($color: #fcf3f2, $alpha: 70%);
      }
    }

    &.validated {
      #{$root}__control {
        background-color: rgba($color: #f0f9f6, $alpha: 70%);
      }
    }

    #{$root}__control:-webkit-autofill {
      background-color: rgba($color: #e9ecf8, $alpha: 90%);
      background-clip: border-box !important;
      -webkit-background-clip: border-box !important;
    }
  }

  &.slim {
    #{$root}__container {
      position: relative;
      width: 100%;
      height: var(--height-input-slim);
    }

    #{$root}__label {
      font-size: 10px !important;
      line-height: 12px !important;
    }

    #{$root}__control {
      height: var(--height-input-slim);
      font-size: 14px;
      font-weight: var(--font-weight-medium);
      line-height: 17px;
      padding: var(--padding-input-slim);
    }

    #{$root}__icon {
      @include square(16px);
    }

    #{$root}__check {
      @include circle(16px);
      right: 12px;

      .icon {
        width: 8px;
        height: 8px;
      }
    }
  }

  &.emphasized-text {
    #{$root}__label,
    #{$root}__control {
      color: var(--color-black-100) !important;
      font-weight: var(--font-weight-medium) !important;
    }
  }

  &__container:has(> #{&}__icon.left) {
    #{$root}__label {
      left: 56px;
    }

    #{$root}__control {
      padding-left: 56px;
    }
  }

  &__container:has(> #{&}__icon.right) {
    #{$root}__check {
      right: 50px;
    }

    #{$root}__label {
      left: 16px;
    }

    #{$root}__control {
      padding-left: 16px;
      padding-right: 56px;
    }
  }

  &__container:has(> #{&}__check) {
    #{$root}__control {
      padding-right: 52px;
    }
  }

  &__container:has(> #{&}__icon.right) :has(> #{&}__check) {
    #{$root}__control {
      padding-right: 86px;
    }
  }

  &:focus-within {
    #{$root}__label {
      color: var(--color-primary-100);
    }
    #{$root}__control {
      border-color: var(--color-primary-100);
    }
  }

  &.filled {
    #{$root}__label {
      color: var(--color-black-70);
    }
    #{$root}__control {
      border-color: var(--color-black-70);
    }
  }

  &.failed {
    #{$root}__label {
      color: var(--color-action-fail);
    }
    #{$root}__control {
      border-color: var(--color-action-fail);
    }
    #{root}__message {
      color: var(--color-action-fail);
    }
  }

  &.validated {
    #{$root}__label {
      color: var(--color-action-success);
    }
    #{$root}__control {
      border-color: var(--color-action-success);
    }
  }

  &:has(input:-webkit-autofill) {
    #{$root}__label {
      color: var(--color-primary-100);
    }
    #{$root}__control:-webkit-autofill {
      background-clip: text;
      border-color: var(--color-primary-100);
      -webkit-text-fill-color: var(--color-black-70);
      -webkit-background-clip: text;
    }
  }

  &.disabled {
    #{$root}__container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      z-index: 20;
      border-radius: var(--border-radius-default);
      background-color: rgba($color: #f2f4f5, $alpha: 30%);
    }
  }
}
