<div class="custom-control" [ngClass]="disabled ? 'disabled' : null">
  <label class="size-l" for="{{ id }}">{{ label }}</label>
  <div class="custom-control__container">
    <app-svg-icon
      *ngIf="iconName != null"
      class="custom-control__icon {{ iconPosition }}"
      [iconName]="iconName"
      [iconStyle]="iconStyle"
    ></app-svg-icon>
    <input
      [type]="type"
      [id]="id"
      [(value)]="value"
      [placeholder]="disabled ? 'Disabled' : placeholder"
      [disabled]="disabled ? true : null"
      autocomplete="email"
    />
    <!-- <span class="custom-control__check"
      ><app-svg-icon
        iconName="vector"
        iconStyle="light"
        class="icon"
      ></app-svg-icon
    ></span> -->
    <div class="custom-control__spin" *ngIf="type == 'number'">
      <button (click)="onIncrease()" [disabled]="disabled ? true : null">
        <app-svg-icon
          class="icon"
          iconName="counter-arrow-up"
          iconStyle="bold"
        ></app-svg-icon>
      </button>
      <button (click)="onDecrease()" [disabled]="disabled ? true : null">
        <app-svg-icon
          class="icon"
          iconName="counter-arrow-down"
          iconStyle="bold"
        ></app-svg-icon>
      </button>
    </div>
  </div>
  <span class="custom-control__message paragraph size-m"
    >Helper text goes here</span
  >
</div>
