@import "../../../../styles/mixins";

:host {
  display: block;
  width: 375px;
  height: auto;
}

.input-control {
  position: relative;
  @include flex-center(vertical, true);
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  height: 100%;

  &__container {
    position: relative;
    width: 100%;
    height: var(--height-input);
  }

  label {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 10;
    color: var(--color-black-70);
    transition: var(--transition-all);
  }

  input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--padding-input);
    border: var(--border-input);
    border-radius: var(--border-radius-default);
    font-size: 16px;
    font-weight: var(--font-weight-regular);
    line-height: 19px;
    color: var(--color-black-70);
    background-color: transparent;
    z-index: 5;
    outline: none;
    transition: var(--transition-all);

    &::placeholder {
      color: var(--color-black-40);
    }

    &:disabled {
      background-color: #f2f4f5;

      &::placeholder {
        color: var(--color-black-60);
      }
    }

    &[type="date"],
    &[type="time"] {
      &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        background: transparent;
        color: transparent;
        cursor: pointer;
      }
    }

    &[type="number"] {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
      }
    }
  }

  &__icon {
    @include absolute-center(vertical);
    @include square(24px);
    color: var(--color-black-70);
    z-index: 10;

    &.left {
      left: 16px;
    }

    &.right {
      right: 16px;
    }
  }

  &__message {
    color: var(--color-black-40);
    transition: var(--transition-all);
    z-index: 5;
  }

  &__check {
    @include flex-center(both);
    @include absolute-center(vertical);
    @include circle(20px);
    right: 16px;
    color: var(--color-action-success);
    background-color: rgba($color: #32936f, $alpha: 24%);
    z-index: 10;

    .icon {
      width: 10px;
      height: 10px;
    }
  }

  &__spin {
    @include absolute-center(vertical);
    right: 8px;
    width: 40px;
    height: calc(var(--height-input) - 16px);
    @include flex-center(both, true);
    gap: 3px;
    z-index: 10;

    button {
      position: relative;
      width: 100%;
      height: 19.5px;
      background-color: #dde2e5;
      color: #83898c;
      border-radius: 4px 4px 0 0;
      border: none;
      outline: none;
      transition: var(--transition-all);
      cursor: pointer;

      &:last-of-type {
        border-radius: 0 0 4px 4px;

        .icon {
          bottom: unset;
          top: 6px;
        }
      }

      .icon {
        @include absolute-center(horizontal);
        bottom: 6px;
        width: 12px;
        height: 10px;
      }

      &:hover {
        color: var(--color-black-60);
        background-color: var(--color-black-20);
      }
    }
  }

  &:has(#{&}__icon.left) {
    label {
      left: 56px;
    }

    input {
      padding-left: 56px;
    }
  }

  &:has(#{&}__icon.right) {
    .input-control__check {
      right: 50px;
    }

    label {
      left: 16px;
    }

    input {
      padding-left: 16px;
      padding-right: 80px;
    }
  }

  &:focus-within {
    label {
      color: var(--color-primary-100);
    }
    input {
      border-color: var(--color-primary-100);
    }
  }

  &.filled {
    label {
      color: var(--color-black-70);
    }
    input {
      border-color: var(--color-black-70);
    }
  }

  &.failed {
    label {
      color: var(--color-action-fail);
    }
    input {
      border-color: var(--color-action-fail);
    }
    span {
      color: var(--color-action-fail);
    }
  }

  &.failed {
    label {
      color: var(--color-action-fail);
    }
    input {
      border-color: var(--color-action-fail);
    }
    span {
      color: var(--color-action-fail);
    }
  }

  &.validated {
    label {
      color: var(--color-action-success);
    }
    input {
      border-color: var(--color-action-success);
    }
  }

  &:has(input:-webkit-autofill) {
    label {
      color: var(--color-primary-100);
    }
    input:-webkit-autofill {
      background-clip: text;
      border-color: var(--color-primary-100);
      -webkit-text-fill-color: var(--color-black-70);
      -webkit-background-clip: text;
    }
  }
}
