@import "../../../../../../../styles/mixins";

:host {
  display: block;
}

.price-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;

  &__field {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px 12px;
    width: 100%;

    .control {
      flex: 1;
      width: 100%;
    }

    &.date-time {
      gap: 1px 12px;
    }
  }

  &__switch-field {
    @include flex-center(vertical);
    justify-content: space-between;

    .switch-title {
      color: var(--color-black-30);
      font-size: 16px !important;
      font-weight: var(--font-weight-medium);
      line-height: 19px;
    }
  }
}
